labsHADS/labsHADS/Web References/net.azurewebsites.wshads/AverageAsig.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Funciona">
        <s:complexType />
      </s:element>
      <s:element name="FuncionaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FuncionaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTiempoMedio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="asignatura" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTiempoMedioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getTiempoMedioResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAlumnosTarea">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="asignatura" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAlumnosTareaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getAlumnosTareaResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="FuncionaSoapIn">
    <wsdl:part name="parameters" element="tns:Funciona" />
  </wsdl:message>
  <wsdl:message name="FuncionaSoapOut">
    <wsdl:part name="parameters" element="tns:FuncionaResponse" />
  </wsdl:message>
  <wsdl:message name="getTiempoMedioSoapIn">
    <wsdl:part name="parameters" element="tns:getTiempoMedio" />
  </wsdl:message>
  <wsdl:message name="getTiempoMedioSoapOut">
    <wsdl:part name="parameters" element="tns:getTiempoMedioResponse" />
  </wsdl:message>
  <wsdl:message name="getAlumnosTareaSoapIn">
    <wsdl:part name="parameters" element="tns:getAlumnosTarea" />
  </wsdl:message>
  <wsdl:message name="getAlumnosTareaSoapOut">
    <wsdl:part name="parameters" element="tns:getAlumnosTareaResponse" />
  </wsdl:message>
  <wsdl:portType name="AverageAsigSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Funciona">
      <wsdl:input message="tns:FuncionaSoapIn" />
      <wsdl:output message="tns:FuncionaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTiempoMedio">
      <wsdl:input message="tns:getTiempoMedioSoapIn" />
      <wsdl:output message="tns:getTiempoMedioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAlumnosTarea">
      <wsdl:input message="tns:getAlumnosTareaSoapIn" />
      <wsdl:output message="tns:getAlumnosTareaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AverageAsigSoap" type="tns:AverageAsigSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Funciona">
      <soap:operation soapAction="http://tempuri.org/Funciona" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTiempoMedio">
      <soap:operation soapAction="http://tempuri.org/getTiempoMedio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlumnosTarea">
      <soap:operation soapAction="http://tempuri.org/getAlumnosTarea" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AverageAsigSoap12" type="tns:AverageAsigSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Funciona">
      <soap12:operation soapAction="http://tempuri.org/Funciona" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTiempoMedio">
      <soap12:operation soapAction="http://tempuri.org/getTiempoMedio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAlumnosTarea">
      <soap12:operation soapAction="http://tempuri.org/getAlumnosTarea" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AverageAsig">
    <wsdl:port name="AverageAsigSoap" binding="tns:AverageAsigSoap">
      <soap:address location="https://wshads.azurewebsites.net/AverageAsig.asmx" />
    </wsdl:port>
    <wsdl:port name="AverageAsigSoap12" binding="tns:AverageAsigSoap12">
      <soap12:address location="https://wshads.azurewebsites.net/AverageAsig.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>